<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-img
              src="https://user-images.githubusercontent.com/40414119/79511193-2adcbf80-8015-11ea-9a6e-80f9eb05af34.jpg">
            </ion-img>
          </ion-col>
          <ion-col size="3">
            <h1>Danilo Ferrari</h1>
          </ion-col>
          <ion-col size="3">
            descricao
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>