<ion-header>
  <ion-toolbar end>
    <ion-title>Vitrine do Dev</ion-title>
      <ion-button color="success" routerLink="login">Entrar</ion-button>
      <ion-button color="primary" routerLink="register">Quero me cadastrar</ion-button>
      <ion-button color="dark" routerLink="profile">Perfil</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
      <ion-col>
         <app-dev-card (click)="openDevInfo()"></app-dev-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
